.task-list {
  margin-top: 30px;
  border-bottom: 1px solid black;
  background-color: #fff;
  padding-left: 10px;
  list-style: none;
  display: flex;
  justify-content: space-between;
  font-size: 25px;
}
.task-list.complete {
  color: red;
}
.fa-star {
  color: white;
}

.fa-star.almost {
  color: green;
}

.btn-son1 {
  background-color: #fff;
  border-radius: 5px;
  color: green;
}

.btn-son2 {
  background-color: #fff;
  border-radius: 5px;
  color: pink;
}

.btn-son3 {
  background-color: #fff;
  border-radius: 5px;
  color: red;
}
.btn-son1:hover {
  background-color: #3d5a80;
  color: #fff;
}
.btn-son2:hover {
  background-color: #3d5a80;
  color: #fff;
}

.btn-son3:hover {
  background-color: #3d5a80;
  color: #fff;
}
